h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

body {
  background-color: rgb(162, 0, 255);
  height: 100vh;
  margin: 0;
  font-family: Helvetica;
}

.container {
  display: grid;
  grid-template-columns: 1.5fr 0.1fr 1.4fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: start;
  grid-template-areas:
    "Header Header Header"
    "Player . Opponent"
    "Player . Opponent";
}

.Header {
  grid-area: Header;
}

.Opponent {
  grid-area: Opponent;
}

.cDefend {
  grid-column-start: 5;
}

.Player {
  grid-area: Player;
}

.playerHealth {
}

.cDefend {
  justify-items: end;
}
